body {
  background: var(--color-bg-light);
  color: var(--color-txt-primary);
  font-family: var(--body-font-family);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font-family);
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

a:link, a:visited {
  text-decoration: none;
  color: var(--brand-primary);
}

a:hover {
  color: var(--brand-primary-offset);
}

header {
  padding: var(--container-padding);
}
