body {
  background: var(--color-bg-light);
  color: var(--color-txt-primary);
  font-family: var(--body-font-family);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font-family);
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin: var(--container-padding) 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: .5rem 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

h4 {
  font-weight: bold;
  color: var(--color-txt-secondary);
}

a:link, a:visited {
  text-decoration: none;
  color: var(--brand-secondary);
}

a:hover {
  color: var(--brand-primary);
}

a.cta {
  display: inline-block;
  margin: 1rem;
  text-align: center;
  border-radius: 3px;
  border-bottom: solid 1px var(--color-txt-secondary);
  color: var(--brand-secondary);

  &--right {
    float: right;
  }
}

p {
  margin: .5rem 0;
  color: var(--color-txt-secondary);
}

strong {
  font-weight: bold;
  color: var(--brand-primary);
}

figure {
  display: inline-block;
  width: 100%;
  max-width: 600px;
  height: fit-content;
  margin: var(--container-padding) auto;
  padding: var(--container-padding);
  border: solid 2px var(--color-bg-light-offset);
  border-radius: 8px;

  @media(min-width: 1024px) {
    margin-left: 0;
    margin-right: 0;
  }
}

figcaption {
  color: var(--color-txt-secondary);
  font-style: italic;
}