body {
  display: grid;
  min-height: 100vh;
  min-width: 100vw;

  grid-template-areas:
    "nav"
    "content";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;

  @media (min-width: 1024px) {
    grid-template-areas:
      "nav content";
    grid-template-columns: 20rem 1fr;
    grid-template-rows: 1fr;
  }
}

.page-nav {
  grid-area: nav;
  position: relative;
  padding: var(--container-padding);

  background: var(--color-bg-dark);
  color: var(--color-txt-dark-primary);

  a:link, a:visited {
    color: var(--color-txt-dark-primary);
  }

  a:hover {
    color: var(--brand-primary);
  }

  .navigation__title {
    max-width: calc(100vw - var(--container-padding) * 4.5);

    font-family: var(--title-font-family);
    font-size: 1.5rem;
    text-align: left;

    @media(min-width: 1024px) {
      font-size: 2rem;
      text-align: center;
    }

    .title--minor {
      display: none;

      @media(min-width: 1024px) {
        display: block;
        font-size: 1.5rem;
        color: var(--color-txt-dark-secondary);
      }
    }

    .title--major {
      font-size: 1.75rem;
      display: block;
      font-weight: bolder;
    }
  }

  .page-nav__about {
    margin-top: 5rem;
    color: var(--color-txt-dark-secondary);
  }

  #nav-close {
    display: none;
  }

  .page-nav__toggle {
    position: absolute;
    right: var(--container-padding);
    top: var(--container-padding);
    background: none;
    border: none;
    color: var(--color-txt-dark-primary);
    font-size: 1.5rem;
    line-height: 1.75rem;

    &:hover {
      color: var(--brand-primary);
    }

    @media (min-width: 1024px) {
      display: none;
    }
  }

  .nav-items {
    display: none;
    line-height: 1.5rem;
    font-family: var(--title-font-family);

    @media (min-width: 1024px) {
      display: block;
    }

    .nav-items__item {
      display: block;
      margin-top: var(--container-padding);

      strong {
        display: block;
        color: var(--color-txt-dark-secondary);
      }
    }

    .nav-items__item--coming-soon {
      pointer-events: none;
      position: relative;

      &:before {
        content: 'coming soon';
        color: var(--color-txt-dark-primary);
        background: var(--brand-secondary);
        display: inline-block;
        position: absolute;
        right: 0;
        padding: 0 3px;
        border-radius: 3px;
      }
    }
  }
}

body.nav-open {
  .page-nav {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
  }

  .navigation__title {
    display: none;
  }

  #nav-open {
    display: none;
  }

  #nav-close {
    display: block;
    position: static;
    text-align: right;
    font-size: 3rem;
    line-height: 1.75rem;
    width: 100%;
  }

  .nav-items {
      display: block;
  }
}