:root {
  --white: #fff;
  --gray-light: #efefef;
  --gray-dark: #9799a7;
  --gray-darker: #666;
  --black: #42444e;
  --brand-primary: #2db34a;
  --brand-primary-contrast: #2ef159;
  --brand-secondary: #0086cd;
  --brand-secondary-contrast: #86d1f9;

  --title-font-family: 'Montserrat', sans-serif;
  --body-font-family: 'Open Sans', sans-serif;;

  --container-padding: 1.5rem;

  @margin(min-width: 1024px) {
    --container-padding: 2rem;
  }
}

/* Can't use css vars in media queries (yet) */
$breakpoint-small: 400px;