.page-overview {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 300px;
  padding: var(--container-padding);
  border: solid 2px var(--color-bg-light-offset);
  border-radius: 8px;
  margin-bottom: var(--container-padding);

  h4 {
    color: var(--brand-primary);
    font-weight: bold;
    font-size: 1.15rem;
    margin-bottom: var(--container-padding);
  }

  h6 {
    color: var(--color-txt-secondary);
  }

  li {
    line-height: 2rem;
    list-style: square;
    margin-left: var(--container-padding);
    color: var(--color-bg-light-offset);
  }

  .page-overview__lesson_num {
    position: absolute;
    right: -.7rem;
    top: .5rem;
    background: var(--color-fg-secondary);
    border-radius: 100%;
    padding: 1rem;
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    text-align: center;
    line-height: 2rem;
    color: var(--color-bg-light);
  }
}

.page-content__item {


  @media(min-width: 1024px) {

  }

  ul {
    list-style: circle;

    li {
      margin-left: var(--container-padding);
    }
  }

  ol {
    li {
      margin-left: var(--container-padding);
    }
  }

  a:link, a:visited {
    border-bottom: solid 1px var(--color-bg-light-offset);
  }

  pre {
    max-width: calc(100vw - var(--container-padding) - var(--container-padding));
    overflow-x: scroll;
    font-size: .75rem;
  }

  code {
    display: inline-block;
    width: 500px;
  }
}

.page-content__image {
  .caption-title {
    color: var(--color-txt-primary);
  }
}

.page-content__footer {


  display: flex;
  flex-flow: row no-wrap;

  margin-top: var(--container-padding);
  margin-bottom: var(--container-padding);

  a:link, a:visited {
    border-bottom: solid 1px var(--color-bg-light-offset);
  }

  .page-footer {
    flex: 1;
  }

  .page-footer--right {
    text-align: right;
  }
}