.main-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  grid-gap: 0 var(--container-padding);
  margin-left: var(--container-padding);
  margin-right: var(--container-padding);
  padding-bottom: var(--container-padding);

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }
}

.full-height-2nd-column {
  display: none;

  @media (min-width: 1024px) {
    display: block;
    height: 100%;
    height: 1500px;
    width: 100%;
    grid-row: 1 / 999;
    grid-column: 2 / 3;
    position: relative;
    right: calc(-1 * var(--container-padding));
    justify-self: right;
  }
}

.page-header {

  &--lesson {
    h1 {
      text-align: left;
    }

    div {
      color: var(--color-txt-secondary);
    }
  }
}

.page-subtitle {
  h2 {
    text-align: center;
    font-weight: normal;
    color: var(--color-txt-secondary);
    margin-bottom: var(--container-padding);
  }
}

.page-section {
  margin-top: var(--container-padding);
}
